.content {
  margin: 0 auto;
}

.other_content {
  /* border: 1px solid yellowgreen; */
  padding: 4px;
  margin-bottom: 1.5rem;
}
.other_content img {
  object-fit: contain;
  width: 100%;
  border-radius: 4px;
}

@media(min-width: 425px) {
  .other_content {
    padding: 35px;
    margin-bottom: 0.5rem;
  }
}

@media(min-width: 576px) {
  .content {
    max-width: 480px;
  }
  /* .other_content {
    padding: 25px;
  } */
}

@media screen and (min-width: 768px) {
  .content {
    display: flex; 
    flex-direction: row;
    max-width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto 30px 300px;
  }
  main {
    display: grid;
    grid-column: 1;
  }
  aside {
    display: grid;
    grid-column: 3;
    display: flex;
    flex-direction: column;
  }
  .other_content {
    padding: 0;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
  }
}



@media screen and (min-width: 992px) {
  .content  {
    max-width: 1080px;
  }
}

@media screen and (min-width: 1600px) {
  .content  {
    max-width: 1480px;
  }
}
